/* form {
    max-width: 500px;
    border: none;
    font-weight: bold;
    margin-left: 440px;
    margin-top: 45px;
} */

button {
    max-width: 180px;
    margin-left: 65px;
}

#check {
    max-width: 15px;
    margin-left: 30px;
}


/* label {
    margin-bottom: 8px;
    margin-left: 30px;
}

h2 {
    margin-left: 635px;
    margin-top: 50px;
} */


/*footer*/


/* footer {
    background-color: rgba(128, 125, 121, 0.863);
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
}

.copy {
    margin-top: -20px;
    padding-left: 250px;
}

.in {
    padding-left: 295px;
} */