.pic {
    padding-left: 950px;
    margin-bottom: -50px;
    width: 350px;
    height: 350px;
}

.welcome {
    outline-style: ridge;
    outline-color: black;
    outline-width: 3px;
    outline-offset: -15px;
    margin-top: 25px;
}

.welcome h1 {
    padding-left: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    margin-top: 10px;
}

.welcome h2 {
    padding-left: 485px;
    margin-left: 20px;
    margin-top: -5px;
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
}

.welcome #p2 {
    padding-left: 50px;
    margin-left: 20px;
    margin-top: -270px;
    font-size: 25px;
    text-decoration: underline;
}

.welcome ul {
    padding-left: 100px;
    margin-left: 35px;
    font-size: 25px;
}


/* footer {
    background-color: rgba(128, 125, 121, 0.863);
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
}

.copy {
    margin-top: -20px;
    padding-left: 250px;
}

.in {
    padding-left: 295px;
} */